/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #1B7340;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #1B7340;
    color: #3ef14ac7; /* Verde suave */
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}

/* Seção principal */
main {
    padding: 20px;
    text-align: center;
}

/* Localização */
#location {
    font-size: 18px;
    font-weight: bold;
    color: #3ef14ac7; /* Cor suave para localização */
}

/* Qualidade do ar */
#air-quality {
    background-color: #8fcdf3;
    padding: 20px;
    border-radius: 12px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; /* Melhor alinhamento para o conteúdo */
}

#air-quality h2 {
    font-size: 2em;
    color: #000000; /* Cor mais calma para o título */
    margin-bottom: 10px;
}

#air-quality-details {
    font-size: 18px;
    color: #000000;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    #air-quality {
        padding: 15px;
    }

    #air-quality h2 {
        font-size: 1.8em;
    }
}
.header-content {
    text-align: center;
}

.header-content img {
    width: 120px;
}

.botao-mapa-topo {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 16px;
    background-color: #3ef14ac7;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.botao-mapa-topo:hover {
    background-color: #3ef14a63;
}